@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-size: 15px;
}
i{
    font-size: 1.7rem;
}
h1{
    font-size: 2.2rem;

}
h2{
    font-size: 1.7rem;
}
h3{
    font-size: 1.5rem;
}
h4{
    font-size: 1.3rem;
}
p{
    font-size: 1rem;
}
a{
    font-size: 1rem;
    text-decoration: none; 
    color: white;
}
header{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #151515;
    color: white;
    overflow: hidden;
}
header .titleSH{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;

}
header .allSuper{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;

}
header .allSuper h2{
    cursor: pointer;
    font-size: clamp(1rem,4vw,1.7rem);
}
header .allSuper .menu{
    position: absolute;
    background-color: #151515;
    top: 8vh;
    margin-left: -10px;
    display: none;
}
header .allSuper .menu{
    list-style-type: none;
    padding: 0;
}
header .allSuper .menu.active{
    display: block;
}
header .allSuper .menu #marvel{
    font-size: clamp(1rem,4vw,1.7rem);
    font-weight: 1000;
    margin-bottom: 10px;
    padding: 13px 10px;
    cursor: pointer;
}
header .allSuper .menu #dc{
    font-size: clamp(1rem,4vw,1.7rem);
    font-weight: 1000;
    margin-bottom: 10px;
    padding: 13px 10px;
    cursor: pointer;
}
header .allSuper .menu #marvel:hover{
    color: #e62429;
}
header .allSuper .menu #dc:hover{
    color: #0078f0;
}
header .titleSH a h2{
    font-size: clamp(1rem,4vw,1.7rem);
}
header .buscador{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}
header .buscador .botonBuscador{
    cursor: pointer;
}
header .buscador .botonBuscador i{
    font-size: clamp(1rem,4vw,1.7rem);
}
header .buscador input{
    width: 70%;
    font-size: clamp(1rem,4vw,1.7rem);
    outline: none;
    border-radius: 3px;
}
.marvelSuperheroes{
    margin: 0 100px;
    height: auto;
}
.marvelSuperheroes .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background-color: #202020;
    font-size: clamp(1rem,4vw,1.7rem);

}
.marvelSuperheroes .logo img{
    width: 130px;
    height: 52px;
}
.marvelSuperheroes .titulo{
    margin: 20px 0;
}
.marvelSuperheroes .cards{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    place-content: center;
    place-items: center;
    width: 100%;
    height: auto;
    gap: 50px;
}
.marvelSuperheroes .cards .cartaPersonaje{
    width: 184px;
    height: 355;
    background-color: #151515;
    color: #e62429;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s ease;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: hidden;
}
.marvelSuperheroes .cards .cartaPersonaje:hover{
    background-color: #e62429;
    filter: drop-shadow(2px 2px 8px #e62429);
}
.marvelSuperheroes .cards .cartaPersonaje:hover .imagen img{
    scale: 1.1;
}

.marvelSuperheroes .cards .cartaPersonaje .imagen{
    width: 184px;
    height: 210px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.marvelSuperheroes .cards .cartaPersonaje .imagen img{
    object-fit: contain;
    width: 200px;
    height: 220px;
    transition: 0.3s ease;
}
.marvelSuperheroes .cards .cartaPersonaje .nombre{
    width: 184px;
    height: 100px;
}
.marvelSuperheroes .cards .cartaPersonaje .nombre p{
    margin: 10px;
    color: white;
    font: 400 16px/1.1 RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}
.dcSuperheroes{
    margin: 20px 100px;
    height: auto;
}
.dcSuperheroes .logo{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 2px #0078f0;

}
.dcSuperheroes .logo img{
    width: 60px;
}
.dcSuperheroes .tituloDc{
    margin: 20px 0;
}
.dcSuperheroes .cardsDc{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    place-content: center;
    place-items: center;
    width: 100%;
    height: auto;
    gap: 50px;
}
.dcSuperheroes .cardsDc .cartaPersonajeDc{
    width: 184px;
    height: 355;
    background-color: #151515;
    color: #0078f0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s ease;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: hidden;
}
.dcSuperheroes .cardsDc .cartaPersonajeDc:hover{
    background-color: #0078f0;
    filter: drop-shadow(2px 2px 8px #0078f0);
}
.dcSuperheroes .cardsDc .cartaPersonajeDc:hover .imagenDc img{
    scale: 1.1;
}

.dcSuperheroes .cardsDc .cartaPersonajeDc .imagenDc{
    width: 184px;
    height: 210px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dcSuperheroes .cardsDc .cartaPersonajeDc .imagenDc img{
    object-fit: contain;
    width: 200px;
    height: 220px;
    transition: 0.3s ease;
}
.dcSuperheroes .cardsDc .cartaPersonajeDc .nombreDc{
    width: 184px;
    height: 100px;
}
.dcSuperheroes .cardsDc .cartaPersonajeDc .nombreDc p{
    margin: 10px;
    color: white;
    font: 400 16px/1.1 RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
}

.dialogo .contenido{
    width: 350px;
    height: 575px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: #202020;
    overflow: hidden;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.dialogo .contenido .image{
    width: 400px;
    height: 375px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dialogo .contenido .image img{
    object-fit: contain;
    width: 400px;
}
.dialogo .contenido .texto{
    text-align: justify;
    margin: 10px;
    color: white;
}
.dialogo .contenido .boton{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dialogo .contenido .boton button{
    padding: 5px 30px;
    outline: none;
    border-radius: 5px;
    background-color: #e62429;
    color: white;
}
.dialogo .contenido .boton button:hover{
    scale: 1.1;
    filter: drop-shadow(1px 1px 2px #e62429);
}


